.card {
    padding: 15px;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 13px -7px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 13px -7px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 13px -7px rgba(0,0,0,0.6);
}

.btn-close {

}