.btn {
    padding: 14px 9px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    color: #FFF;
    background-color: #48915C;
    font-weight: 400;
}.btn:hover {
    filter: brightness(1.2);
}

.space.topbottom {
    margin-top: 14px;
    margin-bottom: 14px;
}

.all {
    width: 100%;
}

.hidden {
    display: none;
}

.red {
    background-color: #D6382E;
}
