<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/gif" href="../assets/icons/logo_img.png">
    <title>Koala's - Dashboard</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/subclasses.css">
    <link rel="stylesheet" href="../styles/components.css">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="../src/loader.js" defer></script>
</head>
<body>
    <header id="header">
        <img src="../assets/icons/Logo.png" class="logo" alt="logo koala stocker">

        <div class="user">
            <h3><span id="user-name">Usuário</span><img src="../assets/icons/caret-down.svg"></h3>
            <ul>
                <li><a href="../index.html">Desconectar</a></li>
            </ul>
        </div>
    </header>
    <main id="main">
        <section id="grocery">
            <div class="space topbottom">
                <h2>Você andou fazendo alguma compra recentemente?</h2>
                <button id="btnAddGroceryList" class="btn space topbottom all">Adicionar agora</button>
            </div>
            <h2 class="title space topbottom">Compras recorrentes</h2>
            <div id="container-grocery-list">
                <ul id="grocery-list">
                    <li>
                        <div class="grocery-list-card">
                            <h2>Dieta Semanal Vegana</h2>
                            <span>Listar 14 itens <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M98 190.06l139.78 163.12a24 24 0 0036.44 0L414 190.06c13.34-15.57 2.28-39.62-18.22-39.62h-279.6c-20.5 0-31.56 24.05-18.18 39.62z" fill="#FFF"/></svg></span>
                            <ul class="list">
                            </ul>
                            <p>Valor estimado: <span>R$76.80</span></p>
                            <button class="btn">Usar</button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="stock">
            <div class="top-config">
                <h1>Meu estoque</h1>
                <input id="searchInStock" placeholder="Pesquisar produto...">
                <button class="btn">Visualizar receitas disponíveis</button>
            </div>
            <div id="container-stock">
                <ul id="stock-list">
                </ul>
            </div>
        </section>
    </main>
    <div id="card-grocery" class="hidden card-frame">
        <div class="card appear">
            <div class="top-bar">
                <h2>Cadastrar alimento</h2><button id="close-card-grocery" class="btn-close"></button>
            </div>
            <div class="grocery">
                <aside>
                    <p>Caso você tenha comprado um alimento que não tenha cadastrado ainda, <a id="add-item" href="#">cadastre agora.</a></p>
                    <input id="search-grocery-item" type="text" placeholder="Nome do alimento...">
                    <ul id="item-list">
                    </ul>
                </aside>
                <div class="list-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Alimento</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                            <tr>
                                <td>Arroz Integral</td>
                                <td>2.0 kg</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="product-register" class="hidden card-frame">
        <div class="card appear">
            <div class="top-bar">
                <h2>Cadastrar alimento</h2><button id="close-card-product" class="btn-close"></button>
            </div>
            <div class="product-register">
                <input id="title-item" type="text" placeholder="Nome do Alimento...">
                <h4>Qual medida você deseja usar para este alimento?</h4>
                <div class="radio-container">
                    <input type="radio" id="radioUnit" value="UNIT" name="radio-range">
                    <label for="radioUnit">Unidade</label>
                    <input type="radio" id="radioKg" value="KG" name="radio-range">
                    <label for="radioKg">Kilogramas(Kg)</label>
                </div>

                <input id="file-input" type="file">
                <button id="btn-product-submit" class="btn">Cadastrar</button>
            </div>
        </div>
    </div>

</body>
</html>